doctype html
html
  head
    title Главная
    include templates/head.jade
  body
    header.m_header
      .wrapper
        nav.menu
          ul#nav
            li: a(class="logo" href="#nav-lead") <span class="orange">E</span>-WEELS
            li: a(href="#nav-about") о гироскутерах
            li: a(href="#nav-catalog") каталог
            li: a(href="#nav-pluses") преимущества
            li: a(href="#nav-service") сервис
            li: a(href="#nav-contacts") контакты
        .tel +7 (495) <span>744-72-91</span>
    //-                 88
    //-               ,d88
    //-             888888
    //-                 88
    //-                 88
    //-                 88
    //-                 88
    //-                 88
    //-                 88
    //-                 88

    #nav-lead
      #wrap
        #viewport
      .wrapper
        h1.title
          .row.top
            | ПРОДАЖА
            span.lead-text
          .row.bottom от официального дилера
        .intro
          p Бесплатная доставка и гарантийное обслуживание,<br>3 сервисных центра в москве
        .lead-image
        .icons
          .icon-yellow.icon-1
            .image
            .text Высокое качество<br>гироскутеров
          .icon-gray.icon-2
            .image
            .text Большой выбор<br>моделей
          .icon-yellow.icon-3
            .image
            .text Гарантийное<br>обслуживание
          .icon-gray.icon-4
            .image
            .text Бесплатная<br>доставка

    //-            ad888888b,
    //-           d8"     "88
    //-                    88
    //-                   d8P
    //-                  a8P
    //-                ,d8P
    //-              ,d8P'
    //-            ,d8P'
    //-           a88"
    //-           88888888888
    #nav-about
      .bg-images
        .top-left
        .bottom-left
        .bottom-right
      .wrapper
        h2.title ПОЧЕМУ <span class="red">гироскутер (мини сигвей) -</span><br>САМЫЙ ЖЕЛАННЫЙ ПОДАРОК ЭТМ ЛЕТОМ?
        .list
          .item.pb50
            .image.mt50
              .slogan.left.yellow Простота<br>эксплуатации
              .img-1
            ul.yellow
              li Средний вес гироскутера - всего 10 кг, а габариты 60х19х18 см., поэтому он легко помещается багажнике автомобиля, и не занимает много места дома.
              li Гироскутер понравится как детям, так и взрослым,  ограничения во весу водителя (мин. - макс.): 20 - 120 кг.
              li Наши гироскутеры оснащены энергоемкими аккумуляторамиSamsung.<br>- время полной зарядки - всего 2 часа.<br>- заряженного аккумулятора хватает на 20-25 км.<br>- цветовой индикатор уровня заряда напомнит о необходимости зарядки.
              li В комплект каждого гироскутера входит сумка, для удобногот хранения и транспортировки.
              li Скорость движения:  12-20 км./час (в зависимости от модели).
          .item.pb30
            ul.red
              li Управлять гироскутером очень просто, освоить движение смогут и взрослые и дети всего за 5-10 мин.
              li Гироскопические датчики улавливают эти перемещения центра тяжести тела с независимых  платформ и активируют работу двух двигателей расположенных в колесах.
              li Вращение колес осуществляется вперед и назад, соответственно<br>при наклоне тела вперед устройство двигается прямо, при  отклоне-<br>нии назад происходит движение в обратном направлении.  Для поворота необходимо перенести вес на одну ногу.
            .image.mt125
              .slogan.right.red Интуитивно понятное<br>управление
              .img-2
          .item
            .image.mt25
              .slogan.left.yellow Привлекает<br>внимание
              .img-3
            ul.yellow.pt40
              li <b>Гисрокутер</b> - это не просто “последнее слово” с области компактных средств передвижения, гироскутер дарит отличные впечатления водителю и привлекает внимание прохожих.
              li <b>Яркий дизайн</b><br> Большой выбор моделей и модных принтов, чтобы подчеркнуть индивидуальность.
              li <b>Светодиодные фары</b> дополняют дизайн гироскутера,<br>а так же дают дополнительное освещение дорожного полотна в ночное время.
              li Каждая модель имеет многофункциональный <b>пульт управления</b>.
              li Некторые модели оснащены  встроенными колонками <b>Bluetooth 4.0</b><br>для воспроизведения музыки, чтобы создавать настроение себе и окружающим)




    //-            ad888888b,
    //-           d8"     "88
    //-                   a88
    //-                  ,88P
    //-                aad8"
    //-                ""Y8,
    //-                  `88b
    //-                   "88
    //-           Y8,     a88
    //-            "Y888888P'
    #nav-catalog
    //-                  a8
    //-                ,d88
    //-               a8P88
    //-             ,d8" 88
    //-            a8P'  88
    //-          ,d8"    88
    //-          888888888888
    //-                  88
    //-                  88
    //-                  88
    #nav-pluses
    //-            88888888888
    //-            88
    //-            88
    //-            88  ____
    //-            88a8PPPP8b,
    //-            PP"     `8b
    //-                     88
    //-                     88
    //-            Y8a     a8P
    //-             "Y88888P"
    #nav-service
    //-               ad8888ba,
    //-              8P'    "Y8
    //-             d8
    //-             88
    //-             88,dd888bb,
    //-             88P'    `8b
    //-             88       88
    //-             88       88
    //-             88a     a8P
    //-              "Y88888P"
    #nav-contacts


    // JS
    script(src="scripts/plugins.js")
    script(src="scripts/app.js")
