#nav-catalog
  position relative
  height 823px
  z-index 30
  background url("../images/screen_3/bg-middle.png") no-repeat 50% -5px
  &:before
    content ''
    position absolute
    left 0
    top -130px
    width 100%
    height 131px
    z-index 11
    background url("../images/screen_3/bg-top.png") no-repeat top center
  &:after
    content ''
    position absolute
    left 0
    bottom -125px
    width 100%
    height 131px
    z-index 11
    background url("../images/screen_3/bg-bottom.png") no-repeat center 1px
  .lead-title
    width 565px
    height 36px
    margin-left auto
    margin-right auto
    margin-top 65px
    margin-bottom 40px
    background url("../images/screen_3/title.png") no-repeat 0 0
  .carousel
    position relative
    z-index 30
    width 986px
    height 651px
    margin-left auto
    margin-right auto
    background url("../images/screen_3/carousel-bg.png") no-repeat 0 0
    .carousel-initial
      position absolute
      left 50%
      top 50%
      height 480px
      width 860px
      margin-left -(@width/2)
      margin-top -270px
      font-size 17px
      *
        outline none
    .slick-dots
      text-align center
      position absolute
      width 100%
      bottom -105px
      height 15px
      left 0
      z-index 34
      li
        display inline-block
        vertical-align middle
        margin-left 4px
        margin-right 4px
        button
          text-indent -9999px
          width 15px
          height 15px
          border none
          background #bbb
          border-radius 50%
          position relative
          z-index 34
        &.slick-active button
          background $orange
          color $orange
          animation-name changeCurrentMenu
          animation-duration 500ms
    .slick-arrow
      position absolute
      top 50%
      width 39px
      height 85px
      margin-top -(@height/2)
      background-image url("../images/sprite.png")
      background-repeat no-repeat
      background-color transparent
      border none
      display block
      text-indent -9999px
    .slick-prev
      background-position 0 0
      left -140px
      &:hover
        background-position -106px 0
    .slick-next
      background-position -53px 0
      right -140px
      &:hover
        background-position -159px 0
    .left
      width 390px
      float left
      .image
        height 312px
        line-height 312px
        text-align center
        width 100%
        margin-bottom 20px
        background #fff
        .carousel-colors
          height 312px
          overflow hidden
        .slide
          height 312px
          line-height 308px
          img
            display inline-block
            vertical-align middle
            max-width 100%
            max-height 100%
      .price
        padding-bottom 15px
        margin-bottom 15px
        border-bottom 1px solid #f1f1f1
        span
          heavy()
          font-size 33px
      .colors-nav
        margin-top 15px
      .color-dots
        text-align left
        li
          display inline-block
          vertical-align middle
          margin-bottom 5px
          margin-right 5px
          width 38px
          height 38px
          border-radius 50%
          border 1px solid transparent
          button
            display block
            text-indent -9999px
            border none
            border-radius 50%
            background none
            width 100%
            height 100%
            background-image url("../images/sprite.png")
            background-repeat no-repeat
          &.slick-active
            border-radius 50%
            border 1px solid #fff
            box-shadow 0 0 5px rgba(0,0,0,.5)
    .right
      position relative
      float right
      width 450px
      height 525px
      .order
        position absolute
        left 0
        bottom 53px
      .order a
        margin-left 0
        margin-top 20px
      .title
        font-size 33px
        border-bottom 1px solid #f1f1f1
        padding-bottom 15px
        margin-bottom 15px
        heavy()
        .small
          font-size 20px
      .desc
        padding-left 25px
        border-bottom 1px solid #f1f1f1
        padding-bottom 5px
        margin-bottom 15px
        .item
          position relative
          margin-bottom 10px
          &:after
            content ""
            position absolute
            left -25px
            top 50%
            background-image url("../images/sprite.png")
            background-repeat no-repeat
          &.icon-1:after
            background-position -9px -102px
            width 14px
            height 16px
            margin-top -(@height/2)
          &.icon-2:after
            width 15px
            height 16px
            background-position -9px -132px
            margin-top -(@height/2)
          &.icon-3:after
            width 17px
            height 18px
            background-position -9px -161px
            margin-top -(@height/2)
          &.icon-4:after
            width 15px
            height 16px
            background-position -9px -192px
            margin-top -(@height/2)
          &.icon-5:after
            width 20px
            height 16px
            background-position -9px -222px
            margin-top -(@height/2)
      .details
        .row
          clearfix()
          &:first-child
            .item
              width 33.333%
          &:last-child
            .item
              width 50%
          .item
            float left
            height 65px
            .val-title
              position relative
              font-size 16px
              &:after
                content ""
                position absolute
                top 50%
                background-image url("../images/sprite.png")
                background-repeat no-repeat
            .val
              font-size 20px
            &.val-icon-1,
            &.val-icon-4,
            &.val-icon-5
              padding-left 30px
            &.val-icon-2,
            &.val-icon-3
              padding-left 38px
            &.val-icon-1 .val-title:after
              left -30px
              background-position -39px -102px
              width 21px
              height 27px
              margin-top -(@height/2)
            &.val-icon-2 .val-title:after
              width 28px
              height 22px
              background-position -70px -102px
              margin-top -(@height/2)
              left -38px
            &.val-icon-3 .val-title:after
              width 28px
              height 28px
              background-position -108px -102px
              margin-top -(@height/2)
              left -38px
            &.val-icon-4 .val-title:after
              left -30px
              background-position -146px -102px
              width 26px
              height 26px
              margin-top -(@height/2)
            &.val-icon-5 .val-title:after
              left -30px
              background-position -182px -102px
              width 23px
              height 24px
              margin-top -(@height/2)

// Slide 1
#nav-catalog .carousel .left .color-dots li#slick-slide10 button,
#nav-catalog .carousel .left .color-dots li#slick-slide20 button
  background url("../images/catalog/1/thumbs/1.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide11 button,
#nav-catalog .carousel .left .color-dots li#slick-slide21 button
  background url("../images/catalog/1/thumbs/2.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide12 button,
#nav-catalog .carousel .left .color-dots li#slick-slide22 button
  background url("../images/catalog/1/thumbs/3.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide13 button,
#nav-catalog .carousel .left .color-dots li#slick-slide23 button
  background url("../images/catalog/1/thumbs/4.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide14 button,
#nav-catalog .carousel .left .color-dots li#slick-slide24 button
  background url("../images/catalog/1/thumbs/5.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide15 button,
#nav-catalog .carousel .left .color-dots li#slick-slide25 button
  background url("../images/catalog/1/thumbs/6.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide16 button,
#nav-catalog .carousel .left .color-dots li#slick-slide26 button
  background url("../images/catalog/1/thumbs/7.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide17 button,
#nav-catalog .carousel .left .color-dots li#slick-slide27 button
  background url("../images/catalog/1/thumbs/8.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide18 button,
#nav-catalog .carousel .left .color-dots li#slick-slide28 button
  background url("../images/catalog/1/thumbs/9.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide19 button,
#nav-catalog .carousel .left .color-dots li#slick-slide29 button
  background url("../images/catalog/1/thumbs/10.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide110 button,
#nav-catalog .carousel .left .color-dots li#slick-slide210 button
  background url("../images/catalog/1/thumbs/11.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide111 button,
#nav-catalog .carousel .left .color-dots li#slick-slide211 button
  background url("../images/catalog/1/thumbs/12.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide112 button,
#nav-catalog .carousel .left .color-dots li#slick-slide212 button
  background url("../images/catalog/1/thumbs/13.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide113 button,
#nav-catalog .carousel .left .color-dots li#slick-slide213 button
  background url("../images/catalog/1/thumbs/14.png") no-repeat 0 0
  background-size cover

//Slide 3
#nav-catalog .carousel .left .color-dots li#slick-slide30 button
  background-position -149px -250px
#nav-catalog .carousel .left .color-dots li#slick-slide31 button
  background-position -102px -348px
#nav-catalog .carousel .left .color-dots li#slick-slide32 button
  background-position -335px -250px
#nav-catalog .carousel .left .color-dots li#slick-slide33 button
  background-position -149px -348px

//Slide 4
#nav-catalog .carousel .left .color-dots li#slick-slide40 button
  background url("../images/catalog/4/thumbs/1.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide41 button
  background url("../images/catalog/4/thumbs/2.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide42 button
  background url("../images/catalog/4/thumbs/3.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide43 button
  background url("../images/catalog/4/thumbs/4.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide44 button
  background url("../images/catalog/4/thumbs/5.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide45 button
  background url("../images/catalog/4/thumbs/6.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide46 button
  background url("../images/catalog/4/thumbs/7.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide47 button
  background url("../images/catalog/4/thumbs/8.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide48 button
  background url("../images/catalog/4/thumbs/9.png") no-repeat 0 0
  background-size cover



// Slide 5
#nav-catalog .carousel .left .color-dots li#slick-slide50 button
  background-position -103px -397px
#nav-catalog .carousel .left .color-dots li#slick-slide51 button
  background-position -149px -250px
#nav-catalog .carousel .left .color-dots li#slick-slide52 button
  background-position -56px -299px
#nav-catalog .carousel .left .color-dots li#slick-slide53 button
  background-position -56px -397px
#nav-catalog .carousel .left .color-dots li#slick-slide54 button
  background-position -102px -299px
#nav-catalog .carousel .left .color-dots li#slick-slide55 button
  background-position -149px -299px
#nav-catalog .carousel .left .color-dots li#slick-slide56 button
  background-position -9px -299px
#nav-catalog .carousel .left .color-dots li#slick-slide57 button
  background-position -195px -299px
#nav-catalog .carousel .left .color-dots li#slick-slide58 button
  background-position -242px -299px
#nav-catalog .carousel .left .color-dots li#slick-slide59 button
  background-position -288px -299px
#nav-catalog .carousel .left .color-dots li#slick-slide510 button
  background-position -334px -299px
#nav-catalog .carousel .left .color-dots li#slick-slide511 button
  background-position -9px -348px
#nav-catalog .carousel .left .color-dots li#slick-slide512 button
  background url("../images/catalog/1/thumbs/10.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide513 button
  background url("../images/catalog/5/thumbs/13.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide514 button
  background url("../images/catalog/5/thumbs/14.png") no-repeat 0 0
  background-size cover


// Slide non
#nav-catalog .carousel .left .color-dots li#slick-slide60 button
  background url("../images/catalog/none/thumbs/1.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide61 button
  background url("../images/catalog/none/thumbs/2.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide62 button
  background url("../images/catalog/none/thumbs/3.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide63 button
  background url("../images/catalog/none/thumbs/4.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide64 button
  background url("../images/catalog/none/thumbs/5.png") no-repeat 0 0
  background-size cover

//Slide 6
#nav-catalog .carousel .left .color-dots li#slick-slide70 button
    background url("../images/catalog/6/thumbs/1.png") no-repeat 0 0
    background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide71 button
    background url("../images/catalog/6/thumbs/2.png") no-repeat 0 0
    background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide72 button
    background url("../images/catalog/6/thumbs/3.png") no-repeat 0 0
    background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide73 button
    background url("../images/catalog/6/thumbs/4.png") no-repeat 0 0
    background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide74 button
    background url("../images/catalog/6/thumbs/5.png") no-repeat 0 0
    background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide75 button
    background url("../images/catalog/6/thumbs/6.png") no-repeat 0 0
    background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide76 button
    background url("../images/catalog/6/thumbs/7.png") no-repeat 0 0
    background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide77 button
    background url("../images/catalog/6/thumbs/8.png") no-repeat 0 0
    background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide78 button
    background url("../images/catalog/6/thumbs/9.png") no-repeat 0 0
    background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide79 button
    background url("../images/catalog/6/thumbs/10.png") no-repeat 0 0
    background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide710 button
    background url("../images/catalog/6/thumbs/11.png") no-repeat 0 0
    background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide711 button
    background url("../images/catalog/6/thumbs/12.png") no-repeat 0 0
    background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide712 button
    background url("../images/catalog/6/thumbs/13.png") no-repeat 0 0
    background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide713 button
    background url("../images/catalog/6/thumbs/14.png") no-repeat 0 0
    background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide714 button
    background url("../images/catalog/6/thumbs/15.png") no-repeat 0 0
    background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide715 button
    background url("../images/catalog/6/thumbs/16.png") no-repeat 0 0
    background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide716 button
    background url("../images/catalog/6/thumbs/17.png") no-repeat 0 0
    background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide717 button
    background url("../images/catalog/6/thumbs/18.png") no-repeat 0 0
    background-size cover




#nav-catalog .carousel .left .color-dots li#slick-slide80 button
  background-position -103px -397px
#nav-catalog .carousel .left .color-dots li#slick-slide81 button
  background-position -56px -397px
#nav-catalog .carousel .left .color-dots li#slick-slide82 button
  background-position -333px -348px
#nav-catalog .carousel .left .color-dots li#slick-slide83 button
  background-position -288px -348px
#nav-catalog .carousel .left .color-dots li#slick-slide84 button
  background-position -149px -348px
#nav-catalog .carousel .left .color-dots li#slick-slide85 button
  background url("../images/catalog/7/thumbs/6.png") no-repeat 0 0
  background-size cover
#nav-catalog .carousel .left .color-dots li#slick-slide86 button
  background-position -9px -397px