@font-face {
  font-family: 'UniSansBook';
  src: url('../fonts/UniSansBook.eot');
  src: url('../fonts/UniSansBook.woff') format('woff'),
       url('../fonts/UniSansBook.ttf') format('truetype'),
       url('../fonts/UniSansBook.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UniSansHeavy';
  src: url('../fonts/UniSansHeavy.eot');
  src: url('../fonts/UniSansHeavy.woff') format('woff'),
       url('../fonts/UniSansHeavy.ttf') format('truetype'),
       url('../fonts/UniSansHeavy.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UniSansThin';
  src: url('../fonts/UniSansThin.eot');
  src: url('../fonts/UniSansThin.woff') format('woff'),
       url('../fonts/UniSansThin.ttf') format('truetype'),
       url('../fonts/UniSansThin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}